.container,
.container-xl{
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
}
.card_left{
  min-width:250px;
  max-width:250px;
}
/* .drawer-toggle ~ .drawer-side{
  z-index: -1;
  position:relative;
}
.drawer:hover .drawer-toggle ~ .drawer-side{
  z-index: 0!important;
}
.drawer-toggle:checked ~ .drawer-side{
  z-index:0;
} */
